
.about-headquarters{
  padding-bottom: 168px;
}

.about-headquarters__box{
  max-width: 1045px;
  margin: 0 auto;
}

.about-headquarters__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-headquarters__sup-title {
  max-width: 255px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.about-headquarters__item::before{
  content: "";
  width: 48px;
  height: 43px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 45px;
}

.about-img-1::before{
  background-image: url(../img/map-1.svg);
}
.about-img-2::before{
  background-image: url(../img/map-2.svg);
}
.about-img-3::before{
  background-image: url(../img/map-3.svg);
}

.about-headquarters__title {
  max-width: 272px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.about-headquarters__inner-item {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}